
<ion-content padding>

  <ion-item color="dark">
    <ion-label>Rest Duration</ion-label>
    <ion-datetime display-format="mm:ss" placeholder="Tap here" [(ngModel)]="fullTime" ></ion-datetime>
  </ion-item>

  <circle-progress (click)="startTime()"
  [percent]="percent"
  [radius]="radius"
  [showTitle]="false"
  [maxPercent]="100"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#252850'"
  [showZeroOuterStroke]="false"
  [backgroundStroke]="'#252850'"
  [backgroundStrokeWidth]="3"
  [outerStrokeGradient]="true"
  [outerStrokeGradientStopColor]="'#C81D11'"
  [showInnerStroke]="false"
  ></circle-progress>

  <p color="white">{{elapsed.h}}:{{elapsed.m}}:{{elapsed.s}}</p>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ng-container *ngIf="timer ==false; else running">
      <ion-fab-button (click)="startTime()">
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
    </ng-container>

    <ng-template #running>
      <ion-fab-button (click)="stopTime()">
        <ion-icon name="square"></ion-icon>
      </ion-fab-button>
    </ng-template>

  </ion-fab>
</ion-content>
